<html>

<head>
    <title>Blog</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <center>
        <h1 class="blog_title">This is where you put your blog title.</h1>
    </center>
    <div class="posts">
        <div class="post">
            {% for post in posts %}
                <h1 class="title">{{ post.title }}</h1>
                <p class="by">By {{ post.author }}</p>
                <p class="content">
                    {{ post.content }}
                </p>
            {% endfor %}
        </div>
    </div>

</body>

</html>